.Inst{
padding-top: 10px;
}
 h2{
 	color: blue;
 	text-align: center;
 	padding-bottom: 20px;
 	padding-top: 20px;  
 }
 .btn{
 	font-size: 15px;
 }

 .cadre{
 	padding-top: 50px;
 }

 th{
 	text-align: center;
 }

 